{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
	<div class="container text-white">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="contact-card p-4 rounded-pill mb-4">
                    <h2 class="text-center mb-4">Contact</h2>
                    <div class="d-flex flex-column text-center gap-3">
                        <p class="mb-0"><i class="fa-solid fa-envelope me-2"></i> Email : <a href="mailto:anishamouche@gmail.com" class="text-light">anishamouche@gmail.com</a></p>
                        <p class="mb-0"><i class="fa-solid fa-phone me-2"></i> Téléphone : <a href="tel:+33749430718" class="text-light">+33 7 49 43 07 18</a></p>
                        <p class="mb-0"><i class="fab fa-github me-2"></i> GitHub : <a href="https://github.com/ImaginaryConception" target="_blank" class="text-light">ImaginaryConception</a></p>
                        <p class="mb-0"><i class="fab fa-linkedin me-2"></i> LinkedIn : <a href="https://www.linkedin.com/in/anis-h-b29099235/" target="_blank" class="text-light">Anis Hamouche</a></p>
                    </div>
                </div>

                <div class="text-center">
                    <a href="{{ path('website') }}" class="btn btn-light btn-lg"><i class="fas fa-file-signature me-2"></i>Demander un devis</a>
                </div>

                <div id="contact_form" class="row my-5 mx-auto">

                    {{ form_start( contact_form ) }}

                    {{ form_errors( contact_form ) }}

                    {{ form_row( contact_form.lastname ) }}

                    {{ form_row( contact_form.firstname ) }}

                    {{ form_row( contact_form.email) }}

                    {{ form_row( contact_form.object ) }}

                    {{ form_row( contact_form.message ) }}

                    {{ form_row( contact_form.save ) }}

                    {{ form_end( contact_form ) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}