{% set route = app.request.attributes.get('_route')%}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<!--[if lt IE 9]>
							<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
						<![endif]-->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Thanatophobia - Imaginary Conception</title>
		<link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
		<link rel="stylesheet" href="{{ asset('CSS/styles.css') }}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js" defer></script>
		<script src="{{ asset(('JS/bootstrap.bundle.min.js')) }}" defer></script>
		<script src="{{ asset(('JS/script.js')) }}" defer></script>
	</head>
	<body>

		<div class="mx-auto mt-6">

			<li class="mb-5 text-center d-flex justify-content-center">
				<a style="font-size: 1.2rem;" class="text-center text-decoration-none" href="{{ path('home') }}">Back to home</a>
			</li>

			<p class="ml11 mt-6 fs-custom">
				<span class="text-wrapper">
					<span class="line line1"></span>
					<span class="letters text-center col-9 mx-auto fw-bold text-light">Thanatophobia</span>
				</span>
			</p>

			<p class="ml12 mt-6 my-tooltip text-center mt-4 fs-custom-2 col-11 col-lg-6 mx-auto text-light">Developed, edited and published by Imaginary Conception.</p>

			<p class="ml14 mt-6 my-tooltip text-center mt-4 fs-custom-2 col-11 col-lg-6 mx-auto text-light">Thanatophobia is a survival game in a horrific atmosphere, playable solo or in cooperation with a minimum of 2 players and a maximum of 4 players. Escape unscathed, don't get caught, there won't be a second chance.</p>

			{# <audio id="sentence_1" style="display: none;">
				<source src="{{ asset('audios/1.mp3') }}">
			</audio>

			<audio id="sentence_2" style="display: none;">
				<source src="{{ asset('audios/2.mp3') }}">
			</audio>

			<audio id="sentence_3" style="display: none;">
				<source src="{{ asset('audios/3.mp3') }}">
			</audio>

			<audio id="sentence_4" style="display: none;">
				<source src="{{ asset('audios/4.mp3') }}">
			</audio>

			<audio id="sentence_5" style="display: none;">
				<source src="{{ asset('audios/5.mp3') }}">
			</audio>

			<audio id="sentence_6" style="display: none;">
				<source src="{{ asset('audios/6.mp3') }}">
			</audio>

			<audio id="sentence_7" style="display: none;">
				<source src="{{ asset('audios/7.mp3') }}">
			</audio> #}

			<button id="arrow" onclick="next()" class="mb-4 d-none text-center mx-auto bg-black radius-code d-flex justify-content-center mt-5 text-black fs-1">
				<i class="fa-sharp fa-solid fa-arrow-right"></i>
			</button>

			<p class="ml15 d-none fs-custom mt-6">
				<span class="text-wrapper">
					<span class="line line1"></span>
					<span class="letters text-center col-9 mx-auto text-light">FAQ</span>
				</span>
			</p>

			<p class="ml3 d-none mt-6 my-tooltip text-center mt-4 col-11 fs-custom-2 col-lg-6 mx-auto text-light">What software?<br> I created this game with the graphics engine, Unreal Engine.<br> How long did development take?<br> The development of this game took 3 years.<br></p>

			<button id="arrow1" onclick="next2()" class="mb-4 d-none text-center mx-auto bg-black radius-code d-flex justify-content-center mt-5 text-black fs-1">
				<i class="fa-sharp fa-solid fa-arrow-right"></i>
			</button>

			<p class="ml16 d-none fs-custom mt-5">
				<span class="text-wrapper">
					<span class="line line1"></span>
					<span class="letters text-center col-9 mx-auto text-light">Presentation</span>
				</span>
			</p>

			<p class="ml6 d-none mt-4 my-tooltip text-center mt-4 fs-custom-2 col-11 col-lg-6 mx-auto text-light">You land in a strange place inhabited by a mad killer, your goal is to get out alive, use clues.</p>

			<p class="ml5 d-none my-tooltip text-center mt-4 fs-custom-2 col-11 col-lg-6 mx-auto text-light"></p>

			<div class="d-none justify-content-center mb-4 mt-4 ml24">
				<img class="w-70 lo-screen h-70 img-fluid" src="{{ asset('Images/clues.png') }}"></img>
		</div>

		<p class="ml4 d-none justify-content-center">
			{# <span class="text-wrapper">
				<span class="letters text-light fs-custom-2 letters-left">Visitez le site web <a target="_blank" href="https://www.lemondedeludopus.fr">ici</a>.</span>
			</span> #}
		</p>

		<button id="arrow2" onclick="next3()" class="mb-4 radius-code d-none text-center mx-auto bg-black d-flex justify-content-center mt-5 text-black fs-1">
			<i class="fa-sharp fa-solid fa-arrow-right"></i>
		</button>

		<p class="ml7 d-none mt-4 my-tooltip text-center mt-4 fs-custom-2 col-11 col-lg-6 mx-auto text-light">Each time you start a game you will be in a different place, with a different objective, you will also have a random character with its associated skill.</p>

		<p class="ml8 d-none mt-4 my-tooltip text-center mt-4 col-11 col-lg-6 mx-auto fs-custom-2 text-light"></p>

		<div class="d-none justify-content-center mb-4 mt-4 ml25">
			<img class="w-70 ic-screen h-70 img-fluid" src="{{ asset('Images/2.png') }}"></img>
		</div>

		<p class="ml9 d-none justify-content-center">
			{# <span class="text-wrapper">
				<span class="letters text-light letters-left">Visitez le site web <a target="_blank" href="{{ path('home') }}">ici</a>.</span>
			</span> #}
		</p>

		<button id="arrow3" onclick="next4()" class="radius-code mb-4 d-none text-center mx-auto bg-black d-flex justify-content-center mt-5 text-black fs-1"><i class="fa-sharp fa-solid fa-arrow-right"></i></button>

		<p class="ml10 d-none mt-4 my-tooltip text-center mt-4 col-11 col-lg-6 mx-auto fs-custom-2 text-light">Example: Jody can run continuously, the stamina bar never runs out. Adam has the ability to throw cups in order to pull the killer in a specific direction. It has 7 cups that recharge after 35 seconds. Brian throws rocks at the killer, stunning him for 5 seconds. It has 7 stones which will recharge after 35 seconds. Josh can slow down time with his composure for 10 seconds, after this time he will only be usable after 15 seconds.</p>

		<p class="ml17 d-none mt-4 my-tooltip text-center mt-4 fs-custom-2 col-11 col-lg-6 mx-auto text-light"></p>

		<div class="d-none justify-content-center mb-4 mt-4 ml26">
			<img class="w-70 vg-screen h-70 img-fluid" src="{{ asset('Images/thanatophobia-screen.png') }}"></img>
		</div>

		<p class="ml18 d-none justify-content-center">
  			{# <span class="text-wrapper">
				<span class="letters text-light fs-custom-2 letters-left">Visitez le site web <a target="_blank" href="https://www.varg31.fr">ici</a>.</span>
			</span> #}
		</p>

		<button id="arrow4" onclick="next5()" class="radius-code mb-4 d-none text-center mx-auto bg-black d-flex justify-content-center mt-5 text-black fs-1"><i class="fa-sharp fa-solid fa-arrow-right"></i></button>

		<p class="mf1 d-none text-center mt-1 fw-bolder fs-custom-3 col-11 col-lg-6 mx-auto text-danger">Regular new arrivals</p>

		<p class="mf2 d-none mt-4 opacity0 my-tooltip text-center mt-4 fs-custom-2 col-11 col-lg-6 mx-auto text-light">The game can be updated regularly, adding new content such as characters with their associated skills, as well as maps and a new objective. Good luck!</p>

		<div class="d-none justify-content-center mb-4 mt-4 mf3">
			<img class="w-70 lh-screen h-70 img-fluid" src="{{ asset('Images/1.png') }}"></img>
		</div>

		<p class="mf4 d-none justify-content-center">
  			{# <span class="text-wrapper">
				<span class="letters text-light fs-custom-2 d-flex justify-content-center mx-auto">Visitez le site web <a class="ms-1" target="_blank" href="https://www.lhannz.fr">ici</a>.</span>
			</span> #}
		</p>

		<button id="arrow5" onclick="next6()" class="radius-code mb-4 d-none text-center mx-auto bg-black d-flex justify-content-center mt-5 text-black fs-1"><i class="fa-sharp fa-solid fa-arrow-right"></i></button>

		<p class="ml101 d-none text-center mt-1 fw-bolder fs-custom-3 col-11 col-lg-6 mx-auto text-danger">A service for our players</p>

		<p class="ml171 d-none mt-4 my-tooltip text-center mt-4 fs-custom-2 col-11 opacity0 col-lg-6 justify-content-center mx-auto text-light">For any additional assistance, whether for a question, a suggestion or a bug report, you can contact us by email at two addresses: support@imaginaryconception.com (for secondary use only) or imaginaryconception@gmail.com, which will allow a faster and probably more efficient response than the other.</p>

		<div class="d-none justify-content-center mb-4 mt-4 ml261">
			<img class="w-70 ci-screen h-70 img-fluid" src="{{ asset('Images/support.png') }}"></img>
		</div>

		<p class="ml181 d-none justify-content-center">
  			{# <span class="text-wrapper">
				<span class="letters text-light fs-custom-2 d-flex justify-content-center mx-auto">Visitez le site web <a class="ms-1" target="_blank" href="https://www.chemin-islamique.fr">ici</a>.</span>
			</span> #}
		</p>

		<button id="arrow6" onclick="next7()" class="radius-code mb-4 d-none text-center mx-auto bg-black d-flex justify-content-center mt-5 text-black fs-1"><i class="fa-sharp fa-solid fa-arrow-right"></i></button>

		<p class="ml19 d-none fs-custom mt-5">
			<span class="text-wrapper">
				<span class="line line1"></span>
				<span class="letters text-center col-9 mx-auto text-light">Trailer</span>
			</span>
		</p>

		<p class="ml20 d-none text-center mt-1 fw-bolder fs-custom-3 col-11 col-lg-6 mx-auto text-danger">Here is the game trailer:</p>

		<p class="ml21 d-none mt-4 my-tooltip text-center mt-4 col-11 col-lg-6 mx-auto text-light"></p>

		<div class="mx-auto d-none justify-content-center mb-4 mt-4 ml22">
			<iframe width="560" height="315" class="d-flex mx-auto justify-content-center" src="https://www.youtube.com/embed/52-cdE8fRyo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

		{# <p class="ml22 d-none justify-content-center">
			<span class="text-wrapper">
				<span class="letters text-light d-flex justify-content-center mx-auto">Allez à la page d'achat <a class="ms-1" target="_blank" href="https://www.imaginary-conception.com/Thanatophobia/1/">ici</a>.</span>
			</span>
		</p> #}

		<a id="arrow7" class="d-none text-black mx-auto justify-content-center" target="_blank" href="https://www.imaginary-conception.com/Thanatophobia/1/">Go to purchase page</a>

	</div>

	<div class="my-5">

	</body>
</html>