<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p><span style="font-weight: bold;">You have just submitted your website design request.</p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Full name: <span style="font-weight: bold;">{{ website_form_firstname_lastname }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Residence: <span style="font-weight: bold;">{{ website_form_domicile }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Website type: <span style="font-weight: bold;">{{ website_form_websiteType }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Budget: <span style="font-weight: bold;">{{ website_form_budget }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Domain name: <span style="font-weight: bold;">{{ website_form_domain }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Time before delivery: <span style="font-weight: bold;">{{ website_form_delay }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p><span style="font-weight: bold;">You will be contacted shortly to confirm your information or not.</p>
</div>