{% set route = app.request.attributes.get('_route')%}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Imaginary Conception</title>
        <link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="{{ asset('CSS/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/animations.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/chat.css') }}">
        <script src="{{ asset(('JS/bootstrap.bundle.min.js')) }}" defer></script>
        <script src="{{ asset(('JS/script.js')) }}" defer></script>
        <script src="{{ asset(('JS/animations.js')) }}" defer></script>
        <script src="{{ asset(('JS/chat.js')) }}" defer></script>
        <script src="https://js.stripe.com/v3/"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        {% include '_partials/_navbar.html.twig' %}

        {% include '_partials/_flashes.html.twig' %}

        <div class="cursor"></div>
		<div class="cursor-trail"></div>

        <div class="container">

            {% block body %}{% endblock %}

        </div>

        <script>window.aichatbotApiKey="c6336530-debb-4a6f-939c-267af94cef6c"; window.aichatbotProviderId="f9e9c5e4-6d1a-4b8c-8d3f-3f9e9c5e46d1";</script><script src="https://script.chatlab.com/aichatbot.js" id="c6336530-debb-4a6f-939c-267af94cef6c" defer></script>

        {% include '_partials/_footer.html.twig' %}
        <div class="mb-6"></div>
    </body>
</html>