<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        
        {# Stylesheets #}
        <link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="{{ asset('CSS/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/modern-nav.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/modern-content.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/modern-footer.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/modern-home.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/modern-auth.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/animations.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/chat.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <link rel="stylesheet" href="{{ asset('CSS/aos-mobile.css') }}">
        
        {# Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include '_partials/_navbar.html.twig' %}
        
        <main class="main-content">
            {% include '_partials/_flashes.html.twig' %}
            {% block body %}{% endblock %}
        </main>

        {% include '_partials/_footer.html.twig' %}

        {# Scripts #}
        <script src="{{ asset('JS/bootstrap.bundle.min.js') }}" defer></script>
        <script src="{{ asset('JS/script.js') }}" defer></script>
        <script src="{{ asset('JS/animations.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js" defer></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                duration: 1000,
                once: true
            });
        </script>
    </body>
</html>